.about {

    margin-top: 70px;



}

.firstarow {

    justify-content: center;


}

.Aheading {
    font-size: 2rem;
    margin: 0 auto;
    font-weight: 600;
}

.year {
    padding: 20px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
}

.Apara {
    padding: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 26px */

    text-align: center;

    color: #565656;
}

.secondarow {
    justify-content: center;

}

.thirdarow {
    justify-content: center;
    margin: 50px 0;
}

.Pheading {

    margin: 20px auto;
    font-size: 2rem;
    font-weight: 600;
}

.Pdesc {

    font-weight: 400;
    font-size: 15px;
    margin: 0 auto;
}


.fourtharow {
    justify-content: center;
}

.Pcard {
    margin: 20px 40px 0 50px;
}

.Cardno {
    font-weight: 600;
    font-size: 37px;
    line-height: 24px;
    /* identical to box height, or 65% */

    display: flex;
    align-items: center;

    /* 1 */

    color: #CE3838;
}

.CardHeading {
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    /* or 80% */

    display: flex;
    align-items: center;

    color: #000000;
}

.CardDesc {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */


    color: #000000;
}

.brandinfo {

    margin-top: 60px;
}
.brandAssociation{
    margin-top: 60px;
}
.brand {
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 41px;
    /* or 111% */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
    margin: 0 30%;
    justify-content: center;

}


.brandleft {


    margin-left: 20%;
    margin-top: 30px;
}

.brandname {}

.brandimages {
    background: #FFFFFF;
    /* Shadow_1 */

    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 0px 500px 500px 0px;
    height: 200px;
    width: 350px
}

.brandimg {
    padding: 15px 15px 15px 35px;
}

.brandid {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #000000;
}

.brandesc{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;


width: 430px;

color: #565656;
}

.brandimg1 {
   
    margin: 50px 90px  ;
}

.partner{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 37px;
line-height: 24px;
/* identical to box height, or 65% */

text-transform: uppercase;

color: #000000;
margin: 100px auto 30px auto;
}