.home{
    display: flex;
}



.img1{
    padding: 70px 150px;
        height: 650px;
        position:absolute;
}
.content{
    padding: 100px 130px;
    margin-top: 60px;
}
.head1{
    font-size: 3rem;
    width: 500px;
}
.head2{
    font-size: 3rem;
    width: 500px;
}

.btn{
    background: #CE3838;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
border-radius: 7px;
color: white;
padding: 15px 25px;
font-size: 20px;
}

.number{
    margin: 50px 0px 0px 0px;
    text-align: center;
    padding-top: 40px ;
    height: 107px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.homepage{
    background: rgba(255, 255, 255, 0.95);
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}