body{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
  
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    height: 75px;
    width: 100%;

}



.img{
    height: 60px;
    margin:  5px 0px 0px 130px;

}

.menu{
    display: flex;
    margin-right: 40px;
    text-decoration: none;
    overflow: hidden;
}

.nav{
    gap: 2;
    font-size: 24px;
    list-style: none;
    margin: 0 30px 0px 10px;
    padding: 5px;

    border-radius: 5px;
    color: black;
}

.nav:hover{
    color: red;
}